*{
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: column;
}
nav ul{
    /* display: flex;
    flex-direction: column; */
    list-style-type: none; 
}

#home{
    font-size: 24px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

nav li{
    background-color: #188040;
    padding: 15px;
    margin: 5px;
    /* vertical-align: bottom; */
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
}

/* nav{
    border: solid 2px #000;
    border-bottom-left-radius:25px;
    border-bottom-right-radius:25px;
} */

 /* #project2{
    /* grid-column: 5 / span 1; 
    justify-self: flex-end;
}  

/* #project3{
    /* grid-column: 6 / span 1;  
    justify-self:flex-end;
} */

.active{
    font-weight: 700;
    background-color: #000;
}

body{
    font-family: 'Roboto', 'Helvetica', sans-serif;
    padding: 0px 100px;
    box-sizing: border-box;
}

main{
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 5vh;
}

main div{
    margin: 0px 20px;
}

h1, h2, h3, h4{
    font-family: 'IBM Plex Mono', monospace;
}
h1{ font-size: x-large;
    color:#188040;
    font-weight:600;}

h2{ font-size: large;
    font-weight:500;}

h3{ font-size: medium;}

h4{ font-size: medium;
    text-decoration: underline;}

h1, h2, h3, h4, p {
    margin-top: 10px;
    margin-bottom:10px;
}

nav a{ color: #fff;
    text-decoration: none;}

p a{color: #000;}

a:hover{ text-decoration: underline;
}

.skip{
    color: #000;
    background-color: #FAE790;
    font-family: 'IBM Plex Mono', monospace;
}

main ul {
    list-style-type: square;
    margin-left: 35px;
}

img{
    display: block;
    width: 50%;
    padding: 5px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: solid #188040 1px;
}

img:hover{
    box-shadow: 10px 10px 1px #9D206D;
    border: solid #188040 3px;
}

/* #profile_pic{
    object-fit:cover;
    border-radius:50%;
} */

.banner{
    width:100%;
    height: 200px;
    object-fit:cover;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-name:zoomie;
    animation-iteration-count:1'
}

@keyframes zoomie{
    0% {opacity:30%; width:75%}
    50% {opacity: 50%; width: 60%}
    100% {opacity:100%; width:100%;}
}
 
.gallery{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.gallery img{
    object-fit:cover;
    width: 95%;
    justify-self:center;
}

.container img:nth-child(odd){
    border: dashed #B1CA6D 5px;
    border-radius: 10px;
}

footer{
    background-color:#188040;
    padding:15px;
    margin: 2px;
    box-sizing: border-box;
    /* min-width: 50px; */
}

footer p, footer h1, footer h2, footer h3, footer h4, footer a{
    font-family: 'IBM Plex Mono', monospace;
    color: #FFF;
}

footer a{
    text-decoration: none;
    font-size: 14px;
}

.homepage, .contact-page{
    background-image: url('../images/contact-page-pexels-dids.jpg');
    background-repeat: repeat;
    background-size:cover;
    background-color: rgba(255,255,255,0.8)
}

@media only screen and (min-width:900px) {
    nav ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin-left:0px;
        justify-content:space-between;
    }

    #home{
        /* padding: 15px 30px; */
        /* grid-column: 1 / span 1;*/
        border-top-right-radius: 25px; 
        border-top-left-radius: 0px;
        /* margin-right: 50px; */
        font-size: 24px;
        justify-self:flex-start;
    }

    nav li{
        background-color: #188040;
        padding: 15px;
        margin: 10px 2px;
        vertical-align: bottom;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 12px;
        min-height: 80px;
        width: 20%;
    }
     #casestudycontainer{
         display:flex;
         flex-direction:row;
         justify-content: flex-end;
         margin: 0px;
         flex-basis: 80vw;
     }

     #project1{
        border-top-left-radius: 25px;
        /* justify-self:flex-end; */
    }
}