*{
    box-sizing: border-box;
}

/* ------------Navigation Bar ---------------- */

nav{
    display: flex;
    flex-direction: column;
}
nav ul{
    /* display: flex;
    flex-direction: column; */
    list-style-type: none; 
}

#home{
    font-size: 24px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

nav li{
    background-color: #188040;
    padding: 15px;
    margin: 5px;
    /* vertical-align: bottom; */
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
}

/* ---------- End Navigation Bar -------------- */

.active{
    font-weight: 700;
    background-color: #000;
}

body{
    font-family: 'Roboto', 'Helvetica', sans-serif;
    padding: 0px 3vh;
    box-sizing: border-box;
}

main{
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 1vh;
}

main div{
    margin: 0px 20px;
}

h1, h2, h3, h4, form{
    font-family: 'IBM Plex Mono', monospace;
}
h1{ font-size: x-large;
    color:#188040;
    font-weight:600;}

h2{ font-size: large;
    font-weight:500;}

h3{ font-size: medium;}

h4{ font-size: medium;
    text-decoration: underline;}

h1, h2, h3, h4, p {
    margin-top: 20px;
    margin-bottom:20px;
    line-height: 1.5;
}

nav a{ color: #fff;
    text-decoration: none;}


p a{color: #000;}

a:hover{ text-decoration: underline;
}

.skip{
    color: #000;
    background-color: #FAE790;
    font-family: 'IBM Plex Mono', monospace;
}

main ul {
    list-style-type: square;
    margin-left: 35px;
    line-height: 1.25;
}

img{
    display: block;
    width: 50%;
    padding: 5px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border: solid #188040 1px;
}

img:hover{
    box-shadow: 10px 10px 1px #9D206D;
    border: solid #188040 3px;
}

.banner{
    width:100%;
    height: 200px;
    object-fit:cover;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-name:zoomie;
    animation-iteration-count:1'
}

@keyframes zoomie{
    0% {opacity:30%; width:75%}
    50% {opacity: 50%; width: 60%}
    100% {opacity:100%; width:100%;}
}

.gallery{
    display:grid;
    grid-template-columns: 1fr;
}

img{
    object-fit:cover;
    width: 95%;
    justify-self:center;
}


.container img:nth-child(odd){
    border: dashed #B1CA6D 5px;
    border-radius: 10px;
}

#profile_pic_container{
    width: 200px;
    height: 200px;
    position: relative;
    margin-left:auto;
    margin-right: auto;
    overflow:hidden;
    border-radius: 50%;
    border: solid #188040 1px;
}

#profile_pic_container:hover{
    box-shadow: 10px 10px 1px #9D206D;
    border: solid #188040 3px;
}



#profile_pic{
    width: 225px;
    display: inline;
    object-position: -15px -20px;
    margin-top: auto;
    margin-left: auto;
    border: none;
    padding: 0px;
    }

#profile_pic:hover{
    box-shadow: none;
    border: none;
}

/* ------------- Footer --------------- */
footer{
    background-color:#188040;
    padding:15px;
    margin: 2px;
    box-sizing: border-box;
    /* min-width: 50px; */
}

footer p, footer h1, footer h2, footer h3, footer h4, footer a{
    font-family: 'IBM Plex Mono', monospace;
    color: #FFF;
}

footer a{
    text-decoration: none;
    font-size: 14px;
}

/* ------------- End Footer --------------- */

/* ------------- Background Image --------------- */
.homepage, .contact-page{
    background-image: url('../images/contact-page-pexels-dids.jpg');
    background-repeat: repeat;
    background-size:cover;
    background-color: rgba(255,255,255,0.8)
}

/* ------------- End Background Image --------------- */

/* ------------- Form --------------- */

#form_container button{
    overflow: visible;
      }
#form_container button, #for_comtainer select{
    text-transform: none;
      }
#form_container button, #form_container input, #form_container select, #form_container textarea {
        color: #5A5A5A;
        font: inherit;
        margin: 0;
      }
#form_container input {
    line-height: normal;
      }
#form_container textarea {
        overflow: auto;
      }

#form_container {
    border: solid 3px #474544;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
    }

#form_container div{
    margin: 30px;
}
#form_container label{
    margin-bottom: 20px;
    text-transform:uppercase;
}

form {
    padding: 37.5px;
    margin: 50px 0;
    }

form h1 {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    }

form .underline {
    border-bottom: solid 2px #474544;
    margin: -0.512em auto;
    width: 80px;
    }

form input[type='text'], [type='email'], form select, form textarea {
    background: none;
    border: none;
        border-bottom: solid 2px #474544;
        color: #768776;
        font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
        margin: 0em 0 1.875em 0;
        padding: 0 0 0.875em 0;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
      }

form input[type='text']:focus, [type='email']:focus, form textarea:focus {
          outline: none;
          padding: 0 0 0.875em 0;
      }

form .message {
          float: none;
      }

form select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    }

form select::-ms-expand {
        display: none;
      }

form textarea {
          line-height: 150%;
          height: 150px;
          resize: none;
        width: 100%;
      }
::-webkit-input-placeholder {
    color: #768776;
}

:-moz-placeholder { 
    color: #768776;
    opacity: 1;
}
      
::-moz-placeholder {
    color: #768776;
    opacity: 1;
}
      
:-ms-input-placeholder {
    color: #768776;
}
#form_button {
    background: none;
    border: solid 2px #000;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

#form_button:hover {
background: #474544;
color: #F2F3EB;
}

.fa-envelope, .fa-linkedin, .fa-rectangle-list{
    color: #FFFFFF;
}

/* ------------- End Form --------------- */



@media only screen and (min-width:1250px) {
    nav ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin-left:0px;
        justify-content:space-between;
    }

    #home{

        border-top-right-radius: 25px;
        border-top-left-radius: 0px;

        font-size: 24px;
        justify-self:flex-start;
    }

    body{
        padding: 0px 10vh 5vh;
    }

    main{
        padding: 5vh;
    }

    nav li{
        background-color: #188040;
        padding: 15px;
        margin: 10px 2px;
        vertical-align: bottom;
        font-family: 'IBM Plex Mono', monospace;
        font-size: 12px;
        min-height: 80px;
        width: 20%;
    }
     #casestudycontainer{
         display:flex;
         flex-direction:row;
         justify-content: flex-end;
         margin: 0px;
         flex-basis: 80vw;
     }
     img{
         width: 50%;
     }

     .gallery{
         display:grid;
         grid-template-columns: 1fr 1fr;
     }

     .gallery img{
        width: 95%;
     }

     #project1{
        border-top-left-radius: 25px;
        justify-self:flex-end; 
    }
}

      /* Commented out code for #home
      padding: 15px 30px; 
         grid-column: 1 / span 1;
         margin-right: 50px; */

@media screen and (prefers-reduced-motion: reduce){
    .banner{
        animation: none;
    }
}